{{#unless session.isAuthenticated}}
<div class="jumbotron">
    <h1>Stop Waiting. Start Gaming.</h1>
    <br />
    <p class="text-center">{{#link-to 'signup' class="btn btn-primary btn-lg"}}
        Get matchmaking
    {{/link-to}}</p>

    <p class="text-right">
        Already have an account?
        {{#link-to 'login'}}Sign In{{/link-to}}
    </p>
</div>

<div class="row">

    <div class="col-md-4">
        <p class="lead text-center">Find Players</p>
        <div class="row">
            ICON
        </div>
        <p class="text-justified">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod facilisis mi eu porta. Nam posuere orci malesuada, pellentesque nunc quis, euismod est. In id accumsan risus. Vivamus tincidunt nec nibh in ornare. Donec quis tempor dolor. Mauris maximus sem eu vehicula blandit.
        </p>
    </div>

    <div class="col-md-4">
        <p class="lead text-center">Play Together</p>
        <div class="row">
            ICON
        </div>
        <p class="text-justified">
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod facilisis mi eu porta. Nam posuere orci malesuada, pellentesque nunc quis, euismod est. In id accumsan risus. Vivamus tincidunt nec nibh in ornare. Donec quis tempor dolor. Mauris maximus sem eu vehicula blandit.
        </p>
    </div>

    <div class="col-md-4">
        <p class="lead text-center">Rate Eachother</p>
        <div class="row">
            ICON
        </div>
        <p class="text-justified">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod facilisis mi eu porta. Nam posuere orci malesuada, pellentesque nunc quis, euismod est. In id accumsan risus. Vivamus tincidunt nec nibh in ornare. Donec quis tempor dolor. Mauris maximus sem eu vehicula blandit.
        </p>
    </div>

</div>
{{else}}
<h1>You are logged in as {{session.currentUser.username}}.</h1>
{{/unless}}
